[Unit]
Description=Crosswalk is a web runtime for ambitious HTML5 applications
After=network.target

[Service]
ExecStart=/usr/bin/xwalk-service

[Install]
WantedBy=multi-user.target
